html {
  scroll-behavior: smooth;
}

.link {
  text-decoration: none !important;
  transition: all 0.3s ease;
}

.link:hover {
  color: #bf0b30;
}

.img-pos {
  left: 5px;
}

.timeline::before {
  width: 6px;
}

.header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 999;
  background: rgba(0, 0, 0, 0.5);
}

.mobile-btn {
  display: none;
}

.desktop-btn {
  display: block;
}

.disabled {
  opacity: 0.9;
  cursor: not-allowed;
}

@media screen and (max-width: 1169px) {
  .vertical-timeline-element-icon {
    margin-left: 6px !important;
  }
}

@media screen and (min-width: 769px) {
  .mobile-btn {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .desktop-btn {
    display: none;
  }
  .vertical-timeline-element-icon {
    margin-left: 0px !important;
  }
  .home-img {
    top: 240px !important;
  }
}

.inside-image {
  transform: translate(-50%, -50%);
  z-index: 1;
}

.glass {
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(5px);
  box-shadow: -1px 3px 11px -4px rgba(0, 0, 0, 0.75);
}

.roadmap-heading {
  color: #133fc3 !important;
  margin-bottom: 10px;
}

.chakra-link {
  text-decoration: none !important;
}

.home-img {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  top: 110px;
}

.chakra-accordion__button:focus {
  box-shadow: none !important;
}

.chakra-accordion__item {
  border-bottom-width: 1px !important;
}

.slick-initialized {
  overflow: hidden;
}

.community-img {
  position: absolute;
  bottom: 0;
  right: 0;
}

.chakra-link:focus {
  box-shadow: none !important;
}
